#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

form label {
  margin-right: 20px;
  margin-bottom: 10px;
}

form input[type="date"],
form input[type="number"] {
  padding: 5px;
  font-size: 14px;
}

form button[type="submit"] {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: -10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.delete-icon {
  cursor: pointer;
}
